body {
    overflow-y: scroll;
    height: 100%;
}


.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 7rem;
    margin-top: 8rem;
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-bottom: 15rem;
}

.container__cartes {
    background-image: linear-gradient(to right top, #5683c677, #9679c077, #c36fa777, #da6d8377, #da795e77);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    min-width: 20%;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 37px 5px #1f1f21d6; 
    box-shadow: 0px 0px 37px 5px #1f1f21d6;
    backdrop-filter: blur(6px);
    padding-bottom: 3rem;
}

.container__cartes h2 {
    font-size: 2rem;
    color: white;
    padding: 1rem;
    text-shadow: 2px 3px 3px #898999;
}


.container__cartes a {
    font-style: normal;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.7rem;
    transition: 0.2s;
    border-radius: 20px;
    font-weight: lighter;
}

.container__cartes a:hover {
    background-color: rgba(227, 226, 226, 0.295);
}

.retour {
    margin: 7rem 0;

}

.retour img {
    width: 6%;
    background-image: linear-gradient(to right top, #5683c677, #9679c077, #c36fa777, #da6d8377, #da795e77);
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 20px 5px #1f1f21d6; 
    box-shadow: 0px 0px 20px 5px #1f1f21d6;
    backdrop-filter: blur(6px);
    padding: 1rem;
}

.retour {
    position: fixed;
    left: 48%;
    bottom: -30px;
}
