body {
    background-image: linear-gradient(to right top, #193764, #4a3262, #692b53, #7b2b3c, #7d3724);
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}



h1 {
    font-size: 5rem;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 3px 3px #898999;
    line-height: 1.2;
    margin-top: 3rem;
    font-family: 'Advent Pro', sans-serif;
}

.carte {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10rem 0 3rem 0;
    font-family: 'Alegreya Sans SC', sans-serif;
} 

.cartes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
    min-width: 250px;
    height: 20rem;
    min-height: 320px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 37px 5px #1f1f21d6; 
    box-shadow: 0px 0px 37px 5px #1f1f21d6;
    backdrop-filter: blur(6px);
    margin-bottom: 5rem;
}


.carte a {
    font-size: 1.9rem;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 3px 2px #898999;
    text-decoration: none;
    padding: 8.1rem  5rem;
    border-radius: 50px;
}

.carte__CSS a {
    padding: 8rem 5.2rem;
    text-align: center;
}

  
.carte a:hover {
    opacity: .9;
  }

footer {
    text-align: center;
    color: white;
    text-shadow: 2px 3px 3px #898999;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    opacity: .7;
}


@media screen and (max-width: 1400px) {
    body {
      overflow-y: scroll;
      height: 100vh;
    }
  }


@media screen and (min-width: 600px) {
    .cartes::before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to right top, #5683c6, #9679c0, #c36fa7, #da6d83, #da795e);
        z-index: -1;
        transition: opacity 0.2s linear;
        border-radius: 50px;
        -webkit-box-shadow: 0px 0px 37px 5px #1f1f21d6; 
        box-shadow: 0px 0px 37px 5px #1f1f21d6;
        opacity: 0;
    }
    
    .cartes:hover::before {
        opacity: 1;
      }
    

}

@media screen and (max-width: 600px) {
    .cartes {
        background-image: linear-gradient(to right top, #5683c6, #9679c0, #c36fa7, #da6d83, #da795e);
        background-repeat: no-repeat;
    }
}


@media screen and (min-width: 1500px) {
    .carte__CSS a {
        padding: 9rem 5rem;
        text-align: center;
    }

    .carte__generique a {
        padding: 8rem 3rem;
    }
}
