@use '../../styles/variables' as v;

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: v.$header-height 0 0 0;
  font-family: v.$body-font;
  font-size: v.$normal-font-size;
  background-color: v.$body-color;
  color: v.$text-color;
}

.section span {
  color: v.$first-color;
  font-weight: bold;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: v.$h1-font-size;
  color: v.$title-color;
  text-align: center;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/*=============== SECTIONS STYLE ===============*/
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  text-align: center;
  &__infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.2rem;
  }
  img {
    width: 70%;
    border-radius: 50%;
    margin-bottom: 2rem;
    transform: rotate(-30deg);
  }
  h2 {
    color: black;
    font-size: 1.7rem;
  }
  a {
    color: black;
  }
  a:hover {
    transform: scale3d(2);
  }
  .bx-chevrons-down {
    font-size: 2rem;
  }
  .mouse {
    margin: 1rem auto;
    width: 25px;
    height: 55px;
    border: 3px solid v.$text-color;
    border-radius: 60px;
    position: relative;
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-47%);
      background-color: #333;
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
    }
  }

  @keyframes wheel {
    to {
      opacity: 0;
      top: 35px;
    }
  }

  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 35px;
    }
  }
}

.a-propos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.2rem;
  text-align: justify;
  padding: 0.5rem;
  margin-top: 5rem;
}

.competences {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.2rem;
  text-align: justify;
  padding: 0.5rem;
  margin-top: 4rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  li i {
    font-size: 1.3rem;
  }
}

.projets {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: v.$text-color;
    border-radius: 1.25rem;
    color: white;
    gap: 0.5rem;
    a {
      color: white;
      font-weight: bold;
      padding: 0.5rem;
      width: fit-content;
      border-radius: 10px;
      transition: 0.2s;
    }
    a:hover {
      background-color: v.$body-color;
      color: v.$first-color;
      transition: 0.2s;
    }
    img {
      border-radius: 10px;
    }
  }
  .lsba {
    background-color: #6f728a;
  }
  .johanna {
    background-color: #4f2e2e;
  }
  .portfolio {
    background-color: #575751;
  }
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(v.$header-height) + 1.5rem; /* 4.5rem */
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: v.$normal-font-size;
    /* display: block; */ /* Minimalist design, visible labels */
  }
  .nav__link:hover {
    color: v.$first-color;
  }

  /* First design, remove if you choose the minimalist design */
  .active-link::before {
    content: '';
    position: absolute;
    bottom: -0.75rem;
    width: 4px;
    height: 4px;
    background-color: v.$first-color;
    border-radius: 50%;
  }

  .competences {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    font-size: 1.5rem;
    margin-top: 10rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
    li i {
      font-size: 1.5rem;
    }
  }

  /* Minimalist design */
  /* .active-link::before{
      bottom: -.75rem;
  } */
}
@media screen and (min-width: 968px) {
  .section__title {
    font-size: v.$h1-font-size-desktop;
    transition: 0.3s;
  }
  .section__height {
    height: 100vh;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .presentation {
    flex-direction: row;
    gap: 4rem;
    text-align: start;
    .presentation__infos {
      margin-top: 4rem;
    }
    img {
      width: 40%;
      margin-bottom: 0;
    }
    h2 {
      font-size: 2.4rem;
    }
    p {
      font-size: 1.3rem;
    }
    .mouse {
      margin: 1rem 0;
    }
  }

  .a-propos {
    margin-top: 10rem;
  }

  #projets {
    max-width: 90%;
    height: fit-content;
  }
  .projets {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    &__card {
      width: 45%;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      background-color: v.$text-color;
      border-radius: 1.25rem;
      color: white;
      gap: 0.5rem;
      a {
        color: white;
        font-weight: bold;
        padding: 0.5rem;
        width: fit-content;
        border-radius: 10px;
        transition: 0.2s;
      }
      a:hover {
        background-color: v.$body-color;
        color: v.$first-color;
        transition: 0.2s;
      }
      img {
        border-radius: 10px;
      }
    }
    .lsba {
      background-color: #6f728a;
    }
    .johanna {
      background-color: #4f2e2e;
    }
    .portfolio {
      background-color: #575751;
    }
  }
}
